/* Resetear estilos por defecto de navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global del cuerpo del sitio */
body {
  background-color: #9993ee!important;
  color: #333!important;
}

/* Estilos de enlaces */
a {
  color: #6b6b6b;
  text-decoration: none;
}

/* Estilos de botones */
.app-container button {
  background-color: #6b6b6b!important;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para el contenido principal */
.main-content {
  margin: 20px;
}

